extends layout

block head
  h1= title

block content
  p Queertionary is a senior thesis project for the University of Colorado Boulder. This project's purpose is to analyze the defintiion and use of queer jargon. 

  p Queertionary pulls in definitions from Urban Dictionary and pictures from Tumblr. We do not own any of the rights to those feeds and are subject to each site's individual lisensing aggrement. 

  p Since we don't have control over the content of the sites, some Not-Safe-For-Work material may surface. Please use caution when viewing this site. 