extends layout

block head
  h2.title-term.yellow-back: span Find a Word

block content
  form.search(name="findTerm", method="get", action="/find")
    input.searchbox(type="text", placeholder="Search", name="search", autofocus)
    button.submit.blue-back(type="submit"): span Find

  if ( found )
    p.searchbox "#{found}" was not found.

  if ( tumblr && urban )
    form.search(name="addTerm", method="post", action="/define")
      label.searchbox(for="term") Would you like to add "#{found}" to Queertionary?
      input.hidden(placeholder="Term to Add", name="term", value="#{found}")
      button.submit.red-back(type="submit"): span Add