extends layout

block bin
  section#bin.js-masonry(data-masonry-options='{ "itemSelector": ".item" }')
    each pic in tumblr
      div.item
        img(src="#{pic.url}") 

block head
  h1.title-term.blue-back
    span= title

block content
  each entry in urban
    div.urban
      p!= entry.definition.replace(/\n/g, '<br />')
      blockquote!= entry.example.replace(/\n/g, '<br />')
 