@red:    rgb( 215,  25,  32 );
@yellow: rgb( 255, 209,   5 );
@blue:   rgb(  80, 165, 220 );
@black:  rgb(   0,   0,   0 );
@white:  rgb( 255, 255, 255 );

@skewamt:     45deg;
@negskewamt: -45deg;

.blue-back   { background-color: @blue;   }
.red-back    { background-color: @red;    }
.yellow-back { background-color: @yellow; }
.black-back  { background-color: @black; }

.skew(@amt) {
  -webkit-transform: skew(@amt);
     -moz-transform: skew(@amt);
       -o-transform: skew(@amt);
          transform: skew(@amt);
}

* { 
  padding: 0px; 
  margin:  0px;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: @white;
  background-image:      url('../images/denver-pride.jpg');
  backgorund-color:      @blue;
  background-size:       cover;
  background-repeat:     no-repeat;
  background-origin:     center;
  background-attachment: fixed;
}
h1, h2 {
  font-family: "Handlee";
}

a {
  color: @yellow;
  text-decoration: none;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

nav {
  top: 0;
}
.main {
  background-color: fadeout(@black, 30%);
  padding: 2em;
  margin:  1em 0em;
  overflow: auto;
  clear: both;
}
.item {
  display: block;
  padding: 0.5em;
  margin:  0.5em;
  background-color: @red;
  // width:   25%;
}
blockquote {
  font-style: italic;
}
.tags {
  list-style: none;
  li {
    display:       inline-block;
    background:    @yellow;
    margin:        0.5em;
    padding:       0.5em;
    border-radius: 0.5em;
    // border-bottom-left-radius: 0.5em;
    // border-top-left-radius:    0.5em;
    // // &:after {
    //   content: "";
    //   float: right;
    //   width:  0;
    //   height: 0;
    //   border-top:    30px solid transparent;
    //   border-left:   30px solid @yellow;
    //   border-bottom: 30px solid transparent;
    // }
    // &:before {
    //   content: "";
    //   position: absolute;
    //   top: 27px;
    //   right: 14px;
    //   width: 8px;
    //   height: 8px;
    //   border-radius: 4px;
    //   background: @blue;
    //   -moz-box-shadow: -1px -1px 1px #424444;
    //   -webkit-box-shadow: -1px -1px 1px #424444;
    //   box-shadow: -1px -1px 1px #424444;
    // }
  }
}
.entry {
  // border: 0.5em solid @blue;
  background-color: @blue;
  margin: 0.5em;
  padding: 0.5em;
}

.definitions {
  width: 30%;
  float: left;
}
.examples {
  width: 65%;
  float: right;
}

menu, .foot {
  list-style:  none;
  font-family: 'Handlee';
  margin-left: 1.5em;
  li {
    display: inline-block;
    a {
      padding: 10px 15px 10px 15px;
      display: inline-block;
      color:   @white;
      .skew(@negskewamt);
      span {
        display: inline-block;
        .skew(@skewamt);
      }
    }
  }
}
.foot {
  float:        right;
  margin-right: 1.5em;
}

@font-face {
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 400;
  src: local('Handlee Regular'), local('Handlee-Regular'), url(http://themes.googleusercontent.com/static/fonts/handlee/v3/lXdgF9zSHTlhzKRElEhHowLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}